{% extends "layouts/public.twig.html" %}

{% block title %}
 {{title|e}}
{% endblock %}

{% block navbar %}

{% include 'partials/navbar.twig.html' %}


{% endblock %}

 {% block header %}

    <header style="background-image : url({{childassets.first.guid}});">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <div class="page-header text-center">
        <h1>{{pageheader|e}} <small>Architecture</small></h1>
     </div>

 {% endblock %}




{% block content %}

    {{content|raw}}
     <div class="blog container">
            <div class="row">
            <div id="blog-mansonry" class="blog-list">
    
    {% for childasset in childassets %}

 
                {% set metavalue = childasset.lastasset.first.meta_value|unserialize %}

            
                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="{{childasset.guid}}" alt=""></a>                                
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">{{childasset.post_excerpt}}</a></h3>
                                <div class="post-entry">
                                    <p>{{childasset.post_content}}</p>
                                    <a class="read-more" href="{{ url('post', {postname: childasset.post_name}) }}">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">                                       
                                    	<li class="post-time post_date date updated">{{ (childasset.post_date|strtotime)|date("d F Y") }} at {{ (childasset.post_date|strtotime)|date("g:ha") }}</li>
                                    	<li class="post-author"> by <a href="#">{{childasset.postauthor}}</a></li>
                                    	<!--
                                        <li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>
                                	    </li>
                                        -->

                                	</ul><!--//meta-list-->                           	
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->
                    
 

     {% endfor %}
     	</div><!--//blog-list--> 
     </div><!--//row-->

<!--
            <div class="pagination-container text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul><!--//pagination
            </div>-//pagination-container-->



        </div>

   

{% endblock %}