{% extends "layouts/public.twig.html" %}

{% block title %}
 {{title|e}}
{% endblock %}

{% block navbar %}

{% include 'partials/navbar.twig.html' %}

{% endblock %}

{% block content %}

<div class="container" style="padding-top : 60px;">
{% for page in pages %}

    {{ page.post_content | raw }}
{% endfor %}
</div>



{% endblock %}

{% block contact %}

    <!-- contact begins -->
<section id="page-contact" class="page-contact">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>HOW TO CONTACT ME</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">If you wish to discuss further, please contact me below</p>
        </header>
        <div class="row">
            <div class="col-sm-5 contact-info">
                <h3>Wil Wetterland</h3>
                <p><i class="fa fa-map-marker"></i>   Phoenix, AZ 85032 </p>
                <p> <a href="tel: 314 280 8274" style="color: #FFFFFF"><i class="fa fa-phone"></i> 314 280 8274 </a>  </p>
                <p><a href="mailto:wil@email.com?Subject=Inquiry" target="_top" style="color:#FFFFFF"><i class="fa fa-envelope-o"></i>   wil@email.com</a></p>
            </div>

            <div class="col-sm-7">
                <h3>Get in Touch</h3>

                <form class="form-horizontal" id="contact-form" action="/" method="post">
                    {{ form_widget(form) }}


                    <div class="form-actions">
                        <button type="submit" class="btn btn-default btn-lg btn-block">Submit Message</button>
                    </div>
                </form>

            
            </div>
        </div><!-- End row -->
    </div>
</section> <!-- contact ends -->

{% endblock %}

{% block slideshow %}




{% endblock %}